@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

body * {
    box-sizing: border-box;
}

.main-login {
    width: 100vw;
    height: 100vh;
    background: rgb(14, 16, 19);
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login > h1 {
    color: rgb(8, 122, 223);
    font-size: 3vw;
}

.left-login-image {
    width: 28vw;
    
}

.right-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: rgb(31, 31, 31);
    border-radius: 20px;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.336);
}

.card-login > h1 {
    color: rgb(8, 122, 223);
    font-weight: 800;
    margin: 0;
}

.textfiled{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfiled > input {
    width: 100%;
    border:  none;
    border-radius: 10px;
    padding: 15px;
    background: rgba(85, 86, 88, 0.527);
    color: rgb(252, 252, 252);
    font-size: 12pt;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.336);
    outline: none;
    box-sizing: border-box;
}

.textfiled > label{
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
}

.textfiled > input ::placeholder {
    color: rgba(255, 255, 255, 0.863);
}

.btn-login{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 9px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: rgb(255, 255, 255);
    background:rgb(8, 122, 223);
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px rgba(160, 207, 247, 0.479);
}

.btn-Cadastro {
    width: 100%;
    padding: 16px 0px;
    margin: -5px;
    border: none;
    border-radius: 9px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: rgb(255, 255, 255);
    background:rgb(8, 122, 223);
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px rgba(160, 207, 247, 0.479);
}

@media only screen and (max-width: 950px){
    .card-login{
        width: 85%;
    }
}

@media only screen and (max-width: 600px){
    .main-login{
        flex-direction: column;
    }
    .left-login{
        display: none;
    }
    .left-login{
        width: 100%;
        height: auto;
    }

    .right-login{
        width: 100%;
        height: auto;
    }

    .card-login{
        width: 90%;
    }
}



